/*
cores principais
#F2BC79 Dourado
#A67951 Bege escuro
#D99F6C Bege claro
#0D0000 Preto
#F2F2F2 Branco

 /*******Header**************/

/* Carousel styling */

#introCarousel, .carousel-inner, .carousel-item, .carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('https://ik.imagekit.io/i2ec8sclpkd/Juliana_torrecilas/1000px_3__6-oZyYwKF.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('https://ik.imagekit.io/i2ec8sclpkd/Juliana_torrecilas/1000px_duKY-sY15D.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

.blockquote .blockquote-footer {
  color: white;
}

.carousel-item:nth-child(3) {
  background-image: url('https://ik.imagekit.io/i2ec8sclpkd/Juliana_torrecilas/1000px_2__oGAplh4Pc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */

@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: black !important;
}

.navbar {
  background-color: #fff;
}

/*Sobre mim*/

.shadow-custom {
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .25), 0 3px 10px 13px rgba(0, 0, 0, 0.23) !important;
}

/*Portfólio*/

.nav-link {
  color: white;
}

.md-pills .nav-link.active {
  color: #FFA900;
  background-color: #616161;
}

button.close {
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
  padding-top: .6rem;
}

.nav-link:hover {
  color: #FFA900;
}

/*******Serviços*****/

.caixa-sevico:hover {
  border: 1px solid #FFA900;
}

/****Sobre mim.html*****/

/*time line*/

.timeline {
  position: relative;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1px;
  background-color: #50a1ff;
}

.timeline-element {
  position: relative;
  width: 50%;
  padding: 1rem 0;
  padding-right: 2.5rem;
  text-align: right;
}

.timeline-element::before {
  content: '';
  position: absolute;
  right: -8px;
  top: 1.35rem;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #50a1ff;
  background-color: #fff;
}

.timeline-element:nth-child(even)::before {
  right: auto;
  left: -8px;
}

.timeline-element:nth-child(even) {
  margin-left: 50%;
  padding-left: 2.5rem;
  padding-right: 0;
  text-align: left;
}

@media (max-width: 767.98px) {
  .timeline::before {
    left: 8px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .timeline-element::before {
    top: 1.25rem;
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element:nth-child(even) {
    margin-left: 0rem;
  }
}

@media (max-width: 767.98px) {
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .timeline-element:nth-child(even)::before {
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element::before {
    top: 1.25rem;
  }
}